<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá Lucas Caruzo!</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Data de Entrada</th>
                <th>Data de Saída</th>
                <th>Livro</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo.data_ent }}</td>
                    <td>{{ emprestimo.data_sai }}</td>
                    <td>{{ emprestimo.livro }}</td>
                    <td>{{ emprestimo.usuario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>